body .sy-slides-wrap{height: unset; height: inherit; height: auto;}
.botschaft h3 {
    text-align: center;
    margin-bottom: 0;
    color: #ffffff;
    background: #fdbf1e;
    padding: 15px 15px 12px;
    font-weight: 700;
    font-size: 26px;
}
.botschaft .subtitel {
    text-align: center;
    background: #fdbe1f;
    color: #fff;
    font-weight: 700;
    padding: 15px;
    font-size: 1.25em;
    margin: 0;
}
.botschaft .subtitel .and {
    display: block;
    line-height: .74685;
    font-size: .9em;
    color: #887c7c;
    font-weight: 900;
}
.botschaft .subtext {
    padding: 15px 20px;
    margin: 0;
    background: #dfe4e8;
    color: #48505a;
    font-weight: 600;
    text-align: center;
    font-size: 12.8px;
}
.botschaft .subtext a {
    color: #6c7894;
    font-size: 1.12em;
}
.botschaft.row:hover > div:not(:hover) {
    opacity: .8;
}
.btn-primary-2 {
    font-size: 1.65em;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
}
.coha-table.table {
    font-size: 16px;
}
.coha-table td,
.coha-table th {
    padding: 10px;
}
.coha-table>thead>tr>th,
.coha-table>tbody>tr>td {
    padding: 10px 17px;
    border-color: #dfe4e7;
    text-align: right;
}
.coha-table>thead>tr>th {
    border-bottom: 0px solid #c9cfd2;
    border: unset;
    background: #dfe4e7;
    text-align: left;
    font-weight: 600;
    color: #525a5f;
}
.coha-table>thead>tr:last-of-type>th {
    text-align: right;
}
.coha-table .title {
    font-size: 2em;
    font-weight: 500;
    color: #656f73;
    text-align: center;
}
.coha-table .subtitle {
    font-size: .8em;
    font-weight: 500;
    color: #7e878c;
}
.coha-quote {
    text-align: center;
    font-weight: 500;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: .2em;
}
.btn-flying{
    position: fixed;
    bottom: 5%;
    left: 10px;
    right: 10px;
    width: 80vw;
    margin: auto;
    max-width: 405px;
    min-width: 300px;
    z-index: 9999;
    box-shadow: 0px 0px 8px -14px rgba(0, 0, 0, 0.6), 0px 4px 27px -15px rgba(0, 0, 0, 0.35), 0px 4px 27px -15px rgba(0, 0, 0, 0.35), 0px 18px 77px -19p(0, 0, 0, 0.06);
}